// Colors
$color-white: #ffffff;
$color-light: #f3f7f7;
$color-mid: #aabfc6;
$color-dark: #39424e;

// Shadows
$box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.35);
$box-shadow-hover: 0px 0px 15px 3px rgba(0, 0, 0, 0.35);
