@import "../variables";

.category {
  background-color: white;
  box-shadow: $box-shadow;

  padding: 1rem;
  border-radius: 3px;
  margin: 0 3rem 3rem 0;
  width: 27%;

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: scale(1.01);
  }

  .title {
    font-size: 2rem;
  }

  button {
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    background-color: mediumseagreen;
    color: $color-light;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      padding: 0.5rem 1rem;
    }
  }
}
